body {
    margin: 0px;
    padding: 0px;
}

.navMail {
    background-color: #dee2e6;
    padding-left: 70px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    color: #495057;
    height: 25px;
    display: flex;
    width: 1100px;
}
.navMail >p {
    margin-top: 0%;
}
.ABH {
    display: flex;
}
.lang-menu {
    width: 130px;
    height: 16px;
}
.selected-lang {
    padding-left: 22px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    padding-right: 9px;
}
.selected-lang::before {
    content: '';
    display: block;
    width: 32;
    height: 32px;
    background-image: url(https://flagsapi.com/US/flat/32.png);
}
.pk::before{
    background-image:url(https://flagsapi.com/PK/flat/32.png);
}
.ae::before {
    background-image: url(https://flagsapi.com/AE/flat/32.png);
}
.tr:before {
    background-image: url(https://flagsapi.com/TR/flat/32.png);
}

.lang-menu  ul {
    margin: 0;
    padding: 0;
    background-color: rgb(87, 81, 81);
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2) ;
    border-radius: 5px ;
    display: none;
    position: absolute;
}
.lang-menu  ul  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.lang-menu  ul  li a {
    display: block;
    width: 123px;
    padding: 5px 10px;
    font-size: 17px;
    color: #fff;
}
.lang-menu  ul  li a:hover {
    background-color: #dee2e6;
}
.lang-menu  ul  li a::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 32;
    height: 32px;
}
a {
    text-decoration: none;
}
.lang-menu:hover ul {
    display: block;
}
.blank {
    width: 100px;
    background-color: #dee2e6;
    height: 26px;
}
.navMail > p {
    padding-top: 2px;
}


.navBar {
    margin-bottom: 30px;
    margin-top: 20px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    border: #dee2e6;
    margin-top: 0%;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.navLogo {
    margin-left: 170px;
    width: 10px;
    height: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navOptions {
    display: flex;
    justify-content: right;
    width: 100vw;
    margin-right: 380px;
    }
 
.navOptions > ul {
    display: flex;
    text-align: left;
    list-style: none;
    padding: 0;
    padding-left: 130px;
    text-decoration: none;
}

.navOptions > ul > li {
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: rgb(56, 54, 54);
    cursor: pointer;
    border-radius: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.4s;
}
.donate {
    margin-left: 50px;
    margin-right: 50px;
    font-size: small;
    color: white;
    border-radius: 4px;
    padding: 10px;
    background-color: #3c7ad6;
}
.sponsor {
    margin: 10px;
    font-size: small;color: white;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #3c7ad6;
    background-color: #9bcf21;
}
.front {
    width: 100%;
    height: 700px;
    display: flex;
    font-family: 'Poppins', sans-serif;}

.welcome {
    width: 50%;
    height: 600px;
    margin-left: 100px;
    margin-top: 80px;
    color: rgba(0,0,0,.85);
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 1.23;
    margin-bottom: 0.5em;
}
.welcome p {
    font-size: 16px;
    line-height: 26px;

}
.saylani {
    color: #9bcf21;
}
.more {
    color: #3c7ad6;
}
.btn {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.image {
    width: 400px; 
    height: 600px;    
    margin-top: 10px;
    margin-right: 210px;
}